#MainWindow {
    background-image: url(bg2.jpg);
    background-color: purple;
}

#Tabs {
    margin: 15;  
}
.Editor { 
   font: 14 "Menlo";
   background-image: url(paper2.png);
   background-color: pink;  
}